/**/
.magrin-5{
	margin:5px;
}

.modal{
    background-color: rgba(0, 0, 0, 0.8);
}
.modal-dialog{
    background-color:white;
}

.cursor:hover{
	cursor:pointer;
}

.list-inline a{
	display:block-inline;
}




#loaderbody{
    position:absolute;
    z-index:998;
    background-color:#FFFFFF;
    height:30px;
    width:100%;
    display:none;
}
#loaderimage{
    position:absolute;
    z-index:999;
    text-align:center;
    width:100%;
    padding:50px;
    font-size:36px;
    font-weight:700;
    display:none;
}





/*kroktest*/
.krt_question{
    font-size:14px;
    margin-top:5px;
    margin-bottom:5px;
}


@media(max-width: 992px){
	.full-width{
		width:100%;
		margin:0px;
		padding:20px;
		border-left:none;
		border-right:none;
		border-top:none;
		border-bottom:1px dotted #e6e6fa;
	}
}









.nav-sidebar {
    width: 100%;
    padding: 8px 0;
    border-right: 1px solid #ddd;
}
.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.nav-sidebar .active a {
    cursor: default;
    background-color: #428bca;
    color: #fff;
    text-shadow: 1px 1px 1px #666;
}
.nav-sidebar .active a:hover {
    background-color: #428bca;
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}








/*buttons*/
.btn-outlined {
    border-radius: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-outlined.btn-black {
    background: none;
    color: #333;
    border-color: #ccc;
}

.btn-outlined.btn-black:hover,
.btn-outlined.btn-black:active {
    color: #333;
    background: #CCCCCC;
    border-color: #ccc;
}







/***/
.footer-right{
    font-size:12px;
    text-align: right;
}













/*KROK*/
div.krok-exam-results{
    display: none;
    margin-bottom:20px;
    text-align:center;
    font-size:18px;
    line-height: 2;
}